<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top p-0 m-0">
        <button class="navbar-toggler col-1 order-2" type="button" data-toggle="collapse" data-target=".navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-1 col-md-1"> &nbsp; </div>
        <div class="collapse navbar-collapse navbarCollapse col-12 col-md-4 order-3 order-md-0">
            <ul class="navbar-nav nav-pills nav-justified w-100">
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="index.html">home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="about.html">about</a>
                </li>
            </ul>
        </div>
        <div class="col-8 col-md-2"> &nbsp; </div>
        <div class="collapse navbar-collapse navbarCollapse col-12 col-md-4 order-4 order-md-2">
            <ul class="navbar-nav nav-pills nav-justified w-100">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="product.html" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> product </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-uppercase" href="product.html">hdmi</a>
                        <a class="dropdown-item text-uppercase" href="product.html">usb</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-uppercase" href="product.html">mobile</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="services.html">services</a>
                </li>
            </ul>
        </div>
        <div class="col-1 col-md-1 order-1 order-md-3">
            <a class="text-primary" href="search.html">
                <i class="fa fa-fw fa-search fa-2x"></i>
            </a>
        </div>
    </nav>
    <div class="col-8 col-md-2 order-0 order-md-1 text-center mx-auto fixed-top">
        <a class="navbar-brand p-0 m-0" href="index.html">
            <img src="<%=require('../../../../img/logo.svg')%>" class="w-50 rounded-circle" alt="Logo"> </a>
    </div>
</div>