<div class="container-fluid">
    <div class="row align-items-center bg-primary rounded-bottom">
        <div class="col-md-12 text-left">
            <p class="text-dark m-0">© Copyright 2018 Diyoelec.com - All rights reserved.</p>
        </div>
    </div>
</div>