<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb border-0 m-0 bg-transparent">
                <li class="breadcrumb-item">
                    <a href="#" class="text-capitalize">home</a>
                </li>
                <li class="breadcrumb-item active text-capitalize text-primary">@@if (context.about==='active' ) { about }@@if (context.product==='active' ) { product }@@if (context.services==='active'
                    ) { services }@@if (context.search==='active' ) { search }</li>
            </ul>
        </div>
    </div>
</div>