<div class="container-fluid">
  <div class="row align-items-center pt-1 pb-1">
    <div class="col-md-12 align-self-center">
      <h1 class="text-primary text-center text-uppercase m-0">product display</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card w-50 mx-auto bg-primary">
        <div class="card-block">
          <img class="card-img-top" src="<%=require('../../../../img/usb.png')%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center text-dark">USB Cable</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card w-50 mx-auto bg-primary">
        <div class="card-block">
          <img class="card-img-top" src="<%=require('../../../../img/usb.png')%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center text-dark">USB Cable</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card w-50 mx-auto bg-primary">
        <div class="card-block">
          <img class="card-img-top" src="<%=require('../../../../img/usb.png')%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center text-dark">USB Cable</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-12">
      <h4 class="mr-5 text-right text-primary">MORE &gt;</h4>
    </div>
  </div>
</div>