<div class="container-fluid">
  <div class="row d-flex d-inline-block h-25 pt-1 pb-1">
    <div class="col-md-12 justify-content-center align-self-center">
      <h1 class="text-primary text-center text-uppercase">diyo culture</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-4">
      <img class="img-fluid d-block mx-auto rounded" src="<%=require('../../../../img/development.png')%>">
      <h3 class="text-uppercase text-center pt-1"> development </h3>
      <p class="my-4">
        <i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</i>
      </p>
    </div>
    <div class="col-md-4 p-4">
      <img class="img-fluid d-block mx-auto rounded" src="<%=require('../../../../img/mission.png')%>">
      <h3 class="text-uppercase text-center pt-1"> mission </h3>
      <p class="my-4">
        <i>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec. </i>
      </p>
    </div>
    <div class="col-md-4 p-4">
      <img class="img-fluid d-block mx-auto rounded" src="<%=require('../../../../img/values.png')%>">
      <h3 class="text-uppercase text-center pt-1"> values </h3>
      <p class="my-4">
        <i>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Cum sociis natoque penatibus et magnis dis parturient
          montes.
        </i>
      </p>
    </div>
  </div>
</div>