<div class="container-fluid">
    <div class="row bg-secondary">
        <div class="col-md-5 pt-2">
            <p class="lead m-0">Address: XXXXXX</p>
            <p class="lead m-0">Phone: 13888888888</p>
            <p class="lead m-0">Fax: 13888888888</p>
            <p class="lead m-0">Zip code: 13888888888</p>
            <p class="lead m-0">Email: 13888888888</p>
            <p class="lead m-0">Web site: 13888888888</p>
        </div>
        <div class="col-md-2 col-md-auto"> </div>
        <div class="col-md-5 mr-0 pr-0"> </div>
    </div>
</div>